.headerPage{
    background-color: #2691d9;
    /* font-family: Roboto;
    font-size: large; */
    font-weight: 200;
    padding: 20px 10px;
}
.headerTitle{
    text-decoration: solid;
    /* font-weight: bold; */
    color: white;
    font-size: large;
}
.headerTextRight{
    float: right;
    background-color: #2691d9;
    color: #fff;
    border-radius: 9px;
    border-width: 0;
    /* padding: 5px;
    margin-top: -5px; */ 
}
span{
    float: left;
    margin-right: 10px;
    margin-top: -8px;
}
img{
    mix-blend-mode: color-burn;
}